body {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    border: 1px black solid;
}

.container>div {
    width: 150px;
    height: 100px;
    margin: 20px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    transition-property: background;
    transition-duration: 0.5ms;
}